@import "~bootstrap/scss/bootstrap";
@import "/public/assets/scss/main.scss";
@import "_variable.scss";













@media only screen and (max-width: 1140px) {
    .contact-area , .all_product_parent {
        padding-top: 0 !important;
    }
    .product_detail_area {
        padding-top: 0 !important;
        margin-top: 2rem !important;
    }
}

.about__exprience {
    position: absolute;
    bottom: -135px;
    left: 120px;
    height: 300px;
    width: 300px;
    background: red !important;
    border-radius: 20%;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .about__exprience {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  @media (max-width: 767px) {
    .about__exprience {
      height: 200px;
      width: 200px;
      padding: 20px;
    }
  }
  .about__exprience h3 {
    font-size: 115px;
    color: var(--tp-common-white);
    font-family: days one;
    line-height: 1;
  }
  @media (max-width: 767px) {
    .about__exprience h3 {
      font-size: 80px;
    }
  }
  .about__exprience i {
    display: inline-block;
    font-size: 24px;
    color: var(--tp-common-white);
    font-weight: 600;
    font-style: normal;
    line-height: 1.3;
    text-align: left;
  }
  @media (max-width: 767px) {
    .about__exprience i {
      font-size: 16px;
    }
  }


